body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#wrapper {
    height: 600px;
    width: 600px;
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
}

button {
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 2px;
    height: 30px;
    font-weight: bold;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: gray;
}